@{
    ViewData["Title"] = "Home Page";
}

<div id="myApp">
    <template v-if="currentMovie">
        {{ currentMovie.title }}
    </template>
    <b-button>123213</b-button>
</div>

@section Scripts {
    <script src="~/js/view-models/home-app.js" asp-append-version="true"></script>
}